/* You can add global styles to this file, and also import other style files */

.pointer {
    cursor: pointer;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('./assets/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url('./assets/fonts/montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('./assets/fonts/montserrat/Montserrat-Bold.ttf');
}