<div class="card card-primary my-4">
    <div class="card-header">
        <h3 class="card-title">Vista de uma instalação</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <!-- input states -->
        <div class="form-group">
            <label class="col-form-label" for="inputSuccess">Instalacoes nome</label>
            <input type="text" class="form-control" id="inputSuccess" [placeholder]="instalacoes['instalacoes_nome']" disabled>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="inputWarning">Escola nome</label>
            <input type="text" class="form-control" id="inputSuccess" [placeholder]="instalacoes['escola_nome']" disabled>
        </div>
    </div>
    <!-- /.card-body -->
</div>