<div class="col-md-10 pt-4" style="margin: 0 auto;">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Date picker</h3>
        </div>
        <div class="card-body">
            <!-- Date -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Aulas num</label>
                        <div class="input-group date" id="reservationdate">
                            <input type="text" class="form-control" [placeholder]="aulas['aulas_num']" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Aulas data</label>
                        <div class="input-group date" id="reservationdate">
                            <input type="text" class="form-control" [placeholder]="aulas['aulas_data'] | date: 'dd/LL/YYYY'" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Aulas hora entrada prevista</label>
                        <div class="input-group date" id="reservationdate">
                            <input type="text" class="form-control" [placeholder]="aulas['aula_hora_entrada_prevista']" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Aulas hora entrada</label>
                        <div class="input-group date" id="reservationdate">
                            <input type="text" class="form-control" [placeholder]="aulas['aula_hora_entrada'] | date: 'dd/LL/YYYY h:m:ss a'" disabled>
                        </div>
                    </div>
                </div>
                <!-- Date and time -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Aulas hora sala prevista</label>
                        <div class="input-group date" id="reservationdate">
                            <input type="text" class="form-control" [placeholder]="aulas['aula_hora_saida_prevista']" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Aula hora salida</label>
                        <div class="input-group date" id="reservationdate">
                            <input type="text" [placeholder]=" aulas['aula_hora_saida'] | date: 'dd/LL/YYYY h:m:ss a' " class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Aula unidade</label>
                        <div class="input-group date" id="reservationdate">
                            <input type="text" [placeholder]="aulas['aula_unidade']" class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Aula obs</label>
                        <div class="input-group date" id="reservationdate">
                            <input type="text" [placeholder]="aulas['aula_obs']" class="form-control" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Sala nome</label>
                <div class="input-group date" id="reservationdate">
                    <div class="input-group date" id="reservationdate">
                        <input type="text" [placeholder]="aulas['sala_nome']" class="form-control" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>