<div class="body">
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../../../assets/images/img-01.jpg');">
            <div class="wrap-login100 p-t-190 p-b-30">
                <form [formGroup]="studentForm" (ngSubmit)="loginStudent()" class="login100-form validate-form">
                    <div class="login100-form-avatar">
                        <img src="../../../../assets/images/avatar-01.jpg" alt="AVATAR">
                    </div>

                    <span class="login100-form-title p-t-20 p-b-45">
                           Login Estudiantes
                    </span>

                    <div class="wrap-input100 validate-input m-b-10">
                        <input class="input100" type="text" formControlName="aluno_email" placeholder="Email" [class.noEsValido]="isValidField('aluno_email')">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                        </span>
                    </div>

                    <p style="margin-left: 15px; color: #c20009; font-weight: bold; margin-top: -10px; margin-bottom: 4px;" *ngIf="isValidField('aluno_email')">
                        {{getErrorMessage('aluno_email')}}
                    </p>

                    <div class=" wrap-input100 validate-input m-b-10">
                        <input class="input100" type="password" formControlName="aluno_password" placeholder="Password" [class.noEsValido]="isValidField('aluno_password')">
                        <span class="focus-input100 ">Error</span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>

                    <p style="margin-left: 15px; color: #c20009; font-weight: bold; margin-top: -10px;" *ngIf="isValidField('aluno_password')">
                        {{getErrorMessage('aluno_password')}}
                    </p>

                    <div class="container-login100-form-btn p-t-10">
                        <button type="submit" class="login100-form-btn" *ngIf="studentForm.valid">
                                Login
                        </button>
                    </div>

                    <div class="text-center w-full p-t-25 p-b-230">
                        <a routerLink="/students/forgoutPassword" class="txt1">
                            Forgot Password?
                        </a>
                    </div>

                    <div class="text-center w-full ">
                        <a class="txt1 " routerLink="/students/register">
                            Create new account
                            <i class="fa fa-long-arrow-right "></i>						
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>