<div class="limiter">
    <div class="container-login100" style="background-image: url('./../../../../assets/images/img-01.jpg');">
        <div class="wrap-login100 p-t-190 p-b-30">
            <form (ngSubmit)="onSubmit()" [formGroup]="codeForm" class="login100-form validate-form">
                <div class="login100-form-avatar">
                    <img src="../../../../assets/images/avatar-01.jpg" alt="AVATAR">
                </div>

                <span class="login100-form-title p-t-20 p-b-45">
                    Codigo do Email
                </span>

                <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                    <input type="hidden" formControlName="EmailCode">
                    <code-input [isCodeHidden]="true" [codeLength]="6" (codeChanged)="onCodeChanged($event)" (codeCompleted)="onCodeCompleted($event)"></code-input>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn p-t-10">
                    <button class="login100-form-btn">
                        Verificar
                    </button>
                </div>

                <div class="text-center w-full p-t-25 p-b-230">
                </div>

                <div class="text-center w-full">
                    <a class="txt1 btn btn-outline-primary w-50 p-2" routerLink="/login">
                        Voltar enviar o Codigo
                        <i class="fa fa-long-arrow-right"></i>						
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>